.navigation{
  .logo{
    // background-color: black !important;
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .links{
    position: absolute;
      right: 5%;
      // left: 0;
    .link{
      color: black !important;
      font-weight: bold;
      font-size: 30px;
    }
  }
}
