@import '../../App.scss';

.navigation{
  .logo{
    // background-color: black !important;
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .links{
    position: absolute;
      right: 5%;
      .link{
        color: black !important;
        font-weight: bold;
        font-size: 30px;
        @include mobile{
          font-size: 25px;
          background-color: pink;
          padding: 40px;
        }
        
    }
  }
}
